h3 {
  font-size: 0.95rem;
}

p {
  margin-bottom: 10px !important;
}

ul {
  padding-inline-start: 20px;
}

.avatar {
  text-align: center;
  max-width: 50%;
  margin: 0 25% 1rem;
}

a img,
.language-flag,
.skill-icon {
  width: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.language-flag {
  vertical-align: middle;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

@media (max-width: 700px) {
  h1 {
    text-align: center;
  }

  .avatar {
    max-width: 40%;
    margin: 0 30% 0;
  }
}
